:root {
  --primary-grey: #2c3333;
  --primary-navy: #041c32;
  --primary-dark-teal: #04293a;
  --primary-grey-teal: #395b64;
  --primary-mid-teal: #064663;
  --primary-light-orange: #ecb365;
  --secondary-light-teal: #e7f6f2;
  --active-teal: #7daebd;
}
