.cardContainer {
  display: flex;
  position: relative;
}
.mdfcContainer {
  display: flex;
  position: relative;
}
.card {
  border-radius: 3px;
  border: 1px solid var(--card-border);
  z-index: 0;
}

.flipCard {
  position: absolute;
  background-color: var(--primary-grey);
  color: var(--primary-mint);
  border-radius: 12px;
  opacity: 0.7;
  border: 1px solid var(--primary-grey);
  z-index: 1;
}
