.container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 'cardDetails tierLevels' 'cardList cardList';
  grid-column-gap: 0rem;
  width: 100%;
}

.TierLevelContainer {
  grid-area: tierLevels;
  display: block;
}

.CardListContainer {
  grid-area: cardList;
}
.CardDetailsContainer {
  align-self: flex-start;
  justify-self: center;
  padding-top: 10rem;
  grid-area: cardDetails;
}
