@import './styles/variables.css';
.app {
  background-color: var(--primary-grey);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(5vh, auto) minmax(89.9vh, auto) minmax(5vh, auto);
  justify-content: start;
  align-content: start;
  height: 100%;
}
.app header,
.app main,
.app footer {
  grid-column: 1/-1;
}

.app header {
  grid-row: 1 / 2;
  border-bottom: 1px solid var(--primary-mint);
}
.app main {
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  padding-right: 1rem;
  padding-left: 1rem;
}
.app footer {
  align-self: end;
  grid-row: 3 / 4;
  border-top: 1px solid var(--primary-mint);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.7rem;
}

.disclaimerInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  color: var(--primary-teal);
  align-self: center;
  justify-self: center;
}

.app footer p {
  margin: 0;
  margin-right: 0.5rem;
  padding: 0;
  font-size: 0.8rem;
  color: var(--primary-teal);
  align-self: center;
  justify-self: center;
}

.scryfallFooterLink {
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  color: var(--primary-mint);
  align-self: center;
  justify-self: center;
}

.gitHubButton {
  height: 100%;
  width: 3rem;
  border: none;
  border-right: 1px solid var(--primary-mint);
  margin-right: 1rem;
  background-color: var(--primary-grey);
  color: var(--primary-teal);
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonContainer button:first-child {
  border: none;
  border-left: 1px solid var(--primary-mint);
}
.buttonContainer button:last-child {
  border-right: none;
}
.buttonContainer button:hover {
  background-color: var(--primary-mint);
  color: var(--primary-grey);
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
